/* public/css/master.css */

/* global 스타일 */
.buttons form{
  display: inline-block;
 }

 /* text길이>width길이 인 경우 ...로 처리함 */
.ellipsis{
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 }

/* home 스타일 */
.home h1{
    color:  rgb(17, 48, 134);
  }
  /* login 스타일 */
  .home-login{
    max-width: 330px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
   }

  /* post 스타일 */
  .post h1 {
    color: rgb(17, 48, 134);
    text-align: center;
   }
   .post .post-body{
    white-space: pre-line;
   }
   .post .posts .date{
    width: 100px;
   }
   .post .posts .author{
    text-align: center;
    width: 80px;
   }
   .post-index .posts{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    table-layout: fixed;
   }


/* user 스타일 */
.user {
  max-width: 320px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
 }
 .user-index ul{
  margin: 0;
  padding: 3px 12px;
 }
 .user-index ul:after {
  content: "";
  display: block;
  clear: both;
 }
 .user-index ul li{
  display: inline-block;
  list-style-type: none;
 }
 .user-index ul li a{
  display: inline-block;
  text-decoration:none;
  margin: 3px;
  background-color: #eee;
  padding: 3px 10px;
  border-radius: 3px;
 }
 .user-index ul li a:hover{
  background-color: #ccc;
 }
 .user-edit hr{
  margin-top: 5px;
  margin-bottom: 11px;
 }
