<!-- views/home/about.ejs -->
<!-- about 화면 구성 -->

<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container home home-about">
      <h1>About</h1>
      <P>이 사이트는 ICT 학점연계 1주차 과제를 위한 홈페이지입니다.</P>
      <P>글 작성, 조회, 수정, 삭제가 가능합니다. </P>
      <P>Github 링크 : <a href="https://github.com/Jiyongs/ICT_Nodejs_notice">here</a></p>
    </div>
  </body>
</html>