<!-- .ejs 추가 -->

<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <!-- 'board'로 변경 -->
    <div class="container home home-board">
      <h1>Board</h1>

      <P>게시글을 올리는 페이지!</p>
    </div>
  </body>
</html>