<!DOCTYPE html>
<html>
 <head>
  <% include ../partials/head %>
 </head>
 <body>
  <% include ../partials/nav %>
  <div class="container home home-welcome">
    <!-- 큰 글씨용 CSS class -->
   <div class="jumbotron">
    <h1>Node.js 게시판 만들기</h1>
    <P>이 사이트는 ict 학점연계 인턴 1주차 과제 사이트 입니다.</p>
   </div>
  </div>
 </body>
</html>